<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

    <div th:fragment="my-navbar">
        <nav>
            <a th:href="@{/}">Home</a>
            <a th:if="${courant == null}" th:href="@{/member/login}">Login</a>
            <a th:if="${courant == null}" th:href="@{/public/offers}">Offers</a>
            <a th:if="${courant != null}" th:href="@{/member/logout}">Logout</a>
            <a th:if="${courant != null}" th:href="@{/member/offers}">Offers</a>
        </nav>
        <h1 th:if="${courant != null}" th:text="'Welcome '+${member.fname}+' '+${member.lname}"></h1>
    </div>
</body>
</html>